<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>HTML Forms Demo</title>
</head>
<body>
<form action="/table" method="POST">
    <p>
        What's the keyword? (such as artist's name)<input name="artist" type="text"/><br/>
    </p>
    <p>
        What's the city? <input name="venue" type="text"/><br/>
    </p>
    <p>
        What's the classificationName? (such as music, sports)<input name="classN" type="text"/><br/>
    </p>
    <p>
        New search or check historical results? <br/>
        <input name="op" type="radio", id="Search", value="Search"/>Search       
        <input name="op" type="radio", id="History", value="History"/>History<br/>
    </p>
    <p><input type="submit" value="submit"></p>
    <!-- <input type="submit" value="History"> -->
</form>
</body>
</html>