
<h1> There are {{name}} results on Ticketmaster!</h1>
<!-- <p>Today's techonlogy headlines are...</p> -->
<form action="/ticket" method="POST">
  <p>
      Which event you want to see ticket details? (enter event name)<input name="detail" type="text"/><br/>
  </p>
  <p><input type="submit" value="submit"></p>
  <!-- <input type="submit" value="History"> -->
</form>
<style>
    table,table tr th, table tr td { border:1px solid #000000}
    /* table { width: 200px; min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse;}    */
</style>
<table>
    <tr>
      <!-- name,city,eventdate,salestart,presaledate,id,url,img,pricemin,currency,pricemax -->
      <th>Thumbnail</th>
      <th>Event Name</th>
      <th>City</th>
      <th>Event Date</th>
      <th>Sale Date</th>
      <th>Presale Date</th>     
      <th>Lowest Price</th>
      <th>Highest Price</th>  
      <th>Currency</th>
    </tr>
    {% for i in x %}
    <tr>
      <td><img src={{i.img}} width="120" height="100"></td>
      <td><a href={{i.url}}> {{ i.name }}</a></td>
      <td>{{ i.city }}</td>
      <td>{{ i.eventdate }}</td>
      <td>{{ i.presaledate }}</td>
      <td>{{ i.salestart }}</td>
      <td>{{ i.pricemin }}</td>
      <td>{{ i.pricemax }}</td>
      <td>{{ i.currency }}</td>
    </tr>
    {% endfor %}
  </table>