
<h1>Hello, {{name}}!</h1>
<p>Today's techonlogy headlines are...</p>
<style>
    table,table tr th, table tr td { border:1px solid #000000}
    /* table { width: 200px; min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse;}    */
</style>
<table>
    <tr>
      <th>Title</th>
      <th>Thumbnail</th>
    </tr>
    <tr>
      <td>aaa</td>
      <td>aaa</td>
    </tr>
    <tr>
      <td> bbb</td>
      <td>bbb</td>
    </tr>
    <tr>
        <td>ccc</td>
        <td>ccc</td>
    </tr>
  </table>